.container2{
    width: 80%;
    margin: auto;
    
    /* border: 1px solid; */
}
.container1{
    border: solid;
    width: 80%;
    height: 600px;
    margin: auto;
    /* background-color:goldenrod; */
    background-image:url(./img4.jpeg);
    background-repeat:no-repeat;
    background-size: 100%;
    border: 0px;
    margin-top: 0px;
    padding-top: 20px;
}
h1{
    color: red;
    text-align: center;
    font-size: 50px;
}
#input{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    
}


#theme{
    font-size: 20px;
    margin: auto;
    /* padding-left: 180px; */
    text-align: center;
    font-weight: 500;
    
    
}

input:hover{
    cursor: pointer;
}

#color{
    font-size: 20px;
    margin: auto;
    /* padding-left: 180px; */
    text-align: center;
    /* padding-bottom: -50px; */
     /* font-weight: bold; */
}

#shadow{
  
    font-size: 20px;
    margin: auto;
    /* padding-left: 180px; */
    text-align: center;
    /* padding-bottom: 30px; */
     /* font-weight: bold; */



}

#boxTop{
    border: solid;
    width: 70%;
    height: 50px;
    padding-top: 12px;
    margin: auto;
    text-align: center;
    font-size: 25px;
    background-color: black;
    color: whitesmoke;
    border-radius: 20px;

}

#boxData{
    border: 1px solid;
    padding-top: 10px;
    width: 70%;
    height: 150px;
    /* margin-top: 12px; */
    margin: auto;
    text-align: center;
    font-size: 65px;
    background-color: whitesmoke;
    /* color: whitesmoke; */
    
    border-radius: 20px;
    overflow: hidden;
}
#font{
    text-align: center;
}